# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code workspace settings
.vscode/

# Visual Studio working directories
.vs/
*.vcxproj*
*.sln
*.db
*.opendb
*.json
*.sqlite
*.wsuo

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/

# Backup and layout
*Layout*.json
*.backup.json
*.txt
